/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */

@import url("components/text.css");
@import url("components/containers.css");
@import url("components/avatars.css");
@import url("components/buttons.css");
@import url("components/banner.css");
@import url("components/cards.css");

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding-bottom: 200px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  background-color: rgb(240,240,240);
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  /*font-family: Poppins;*/
}

a {
  text-decoration: none;
  color: #FDD146;
}

/* Custom design below! */

img {
  width: 100%;
  align-items: center;
  border-radius: 4px;
  margin-top: 0 auto;
}

.flexbox {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.list-inline {
    list-style: none;
    padding-left: 0;
}


