.banner {
  padding: 100px 100px;
  opacity: 0.9;
  object-fit: cover;
  background-position: 25%;
  background-image: url('../../images/flower.jpg');
  height: 330px;
}


.banner h1,
.banner p {
  color: #FECD2E;
}

