.card {
  padding: 0;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-align: center;
  color: grey;
  border: 2 px black solid;
}

.cards {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30%;
  border: 2 px black solid;
}

.footer {
  padding: 40px 0px 24px 0px;
  background-image: url("../../images/graffiti.jpg");
  position: absolute;
  left: 0;
  bottom: 0;
  height: 150px;
  overflow: hidden;
  width: 100%;
}

.footer-text {
  padding: 0;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-align: center;
  color: #FDD146;
  border: 2 px black solid;
}

.blurb {
  background-color: white;
  align-items: center;
  border-radius: 4px;
  width: 270px;
  box-shadow: 0 5px 20px rgb(183, 210, 231);
  padding: 30px;
  margin-top: 50px;
}

.blurb2 {
  background-color: white;
  align-items: center;
  border-radius: 4px;
  width: 600px;
  box-shadow: 0 5px 20px rgb(183, 210, 231);
  padding: 30px;
  margin-bottom: 50px;
}
